<!-- https://medium.com/tech-insights/how-to-deploy-angular-apps-to-github-pages-gh-pages-896c4e10f9b4 -->
<div class="app-container">
    <div class="picture-row">
        <div class="picture-container">
            <img [src]="imageService.flamingo" alt="That Boi Kirk">
        </div>
    </div>
    <div class="card-part">
        <div class="personal-info">
            <h1>Stephen Kirkland</h1>
            <h4>Website Designer</h4>
            <p>912-536-7419</p>
            <p>skirkland.job@gmail.com</p>
        </div>
    </div>
    
    <div class="social-media-full-container">
        <ul>
            <li><a href="https://www.instagram.com/bigmoneykirk/" target="_blank"> <i class="fab fa-instagram"></i> </a></li>
            <li><a href="https://www.facebook.com/stevokirk/" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
            <li><a href="https://www.linkedin.com/in/bigmoneykirk/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
            <!-- <li><i class="fab fa-snapchat-ghost"></i></li> -->
            <li><a href="https://twitter.com/StevoKirk" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
        </ul>
    </div>
</div>