.app-container {
    height: 98vh;
    width: 100%;
    background: url('../../../assets/images/backgrounds/shiny_cubes.jpg');
    background-size: cover;
    background-position: center;
}

.picture-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-container {
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

.card-part {
    backdrop-filter: blur(6px);
    border: 1px solid lavender;
    border-radius: 5px;
    margin: 40px 10px;
    box-shadow: 0px 5px 30px rebeccapurple, -15px 15px 0.35rem grey, 3px -3px 1rem white;
    animation: floatingCard 6.5s ease-in-out infinite;
    text-align: center;
    font-family: Gilroy-Light;
}

@keyframes floatingCard {
    0%, 100%{
        transform: translate3d(0.5ch, -0.05in, -3em);
    }
    50% {
        transform: translate3d(0, 0.05in, 3em);
    }
}

.personal-info {
    margin: 0 20px;
    color: lavender;
}

h1 {
    text-shadow: -3px 5px 1.5rem;
    font-family: Gilroy-ExtraBold;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid lightblue;
    box-shadow: 0px 5px 30px rebeccapurple, -15px 15px 0.35rem grey, 3px -3px 1rem white;
}

ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    backdrop-filter: blur(10px);
    border: 2px solid lightskyblue;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 15px;
    width: 48px;
    height: 48px;
}

.download-vcf {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#downloadButton {
    position: relative;
    border-radius: 5px;
    color: #255784;
    background: transparent;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    width: 160px;
    height: 50px;
    line-height: 48px;
    text-decoration: none;
    font-family: Gilroy-Light;
}

#downloadButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
}

#downloadButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    animation: animateAddContact 20s linear infinite;
    z-index: -1;
}

@keyframes animateAddContact {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#downloadButton span {
    position: relative;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.2);
    color: white;
}

#downloadButton span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}

#downloadButton span::after {

}