body {
    background: linear-gradient(90deg, rgba(3,0,60,1) 0%, rgba(0,0,162,1) 35%, rgba(136,0,255,1) 100%); //https://cssgradient.io/
    //background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(136,0,255,1) 100%);
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("./assets/fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf") format("opentype");
}